# Keys
Pear/Supporting/GoogleService-Info.plist
Pear/Supporting/Keys.plist
Pear/Supporting/Secrets.plist

# CocoaPods
Pods/
Podfile.lock

.DS_Store
*/.DS_Store

*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
