# Keys
CoffeeChat/Supporting/Keys.plist
CoffeeChat/Supporting/GoogleService-Info.plist
CoffeeChat/Supporting/Keys.plist

# CocoaPods
Pods/

.DS_Store
*/.DS_Store

*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
