<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INSTAGRAM_APP_SECRET</key>
	<string>0b4a91a72f39704dca648c41c99e5fa2</string>
	<key>INSTAGRAM_APP_ID</key>
	<string>267439841435121</string>
	<key>SERVER_URL</key>
	<string>pear-backend.cornellappdev.com</string>
</dict>
</plist>
